/doxygen/html/
*.layout
*.dll
*.so
*.o
*.bak
*.obj
*.compiled
CppCheckResults.xml
*.depend
/bin/
/lib/
/obj/
*/*/bin/
*/*/lib/
*/*/obj/
*/*/*/bin/
*/*/*/lib/
*/*/*/obj/
*/*/*/*/bin/
*/*/*/*/lib/
*/*/*/*/obj/
*.log
*.exe
*.sh
*.gz
*.zip
*.7z
*.rar
